{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="index.html" class="logo">MEDI-CENTER <span>Research laboratory</span></a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="{% url 'dashboard_view' %}"><i class="fa fa-home mr-3" aria-hidden="true"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'doctors_view' %}"><i class="fa fa-user-md mr-3" aria-hidden="true"></i> &nbsp;Doctors</a>
                    </li>
                    <li>
                        <a href="{% url 'patients_view' %}"><i class="fa fa-bed mr-3" aria-hidden="true"></i> Patients</a>
                    </li>
                    <li>
                        <a href="{% url 'tasks_view' %}"><i class="fa fa-list mr-3" aria-hidden="true"></i> Tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out mr-3" aria-hidden="true"></i> &nbsp;Logout</a>
                    </li>
                </ul>

                <div class="mb-5 border border-white rounded p-2">
                    <h3 class="h6 mb-3">{{request.session.first_name}} {{request.session.last_name}} [{{request.session.role}}]</h3>
                    <h3 class="h6 mb-3">{{request.session.staff_id}}</h3>

                </div>

                <div class="footer">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="{% if message.tags == 'success' %}bg-green-100 border-l-4 border-green-500 text-green-700{% elif message.tags == 'info' %}bg-blue-100 border-l-4 border-blue-500 text-blue-700{% elif message.tags == 'warning' %}bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700{% elif message.tags == 'error' %}bg-red-100 border-l-4 border-red-500 text-red-700{% else %}bg-gray-100 border-l-4 border-gray-500 text-gray-700{% endif %} p-4 mb-4 relative"
                    role="alert">
                    <div class="flex justify-between items-center">
                        <p class="flex-grow">{{ message }}</p>
                        <button type="button" class="text-gray-500 hover:text-gray-700 focus:outline-none mt-1 mr-1"
                            onclick="this.parentElement.parentElement.style.display='none'">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M5.293 5.293a1 1 0 011.414 0L10 8.586l3.293-3.293a1 1 0 111.414 1.414L11.414 10l3.293 3.293a1 1 0 11-1.414 1.414L10 11.414l-3.293 3.293a1 1 0 01-1.414-1.414L8.586 10 5.293 6.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>
    </div>



    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>