{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="lg:flex flex-wrap">
    <div class="w-full sm:w-full lg:w-1/2">
      <div class="flex flex-col border-2 border-gray-300 rounded m-2">
        <div class="flex flex-row items-center justify-between px-4 py-4">
          <div class="flex mr-4">
            <span class="items-center px-4 py-4 m-auto bg-blue-200 rounded-full hover:bg-blue-300">
              <i class="fa fa-user-md fa-2x text-blue-700" aria-hidden="true"></i>
            </span>
          </div>
          <div class="flex-1 pl-4">
            <div class="text-xl font-medium text-gray-700">{{total_doctors}}</div>
            <div class="text-sm text-gray-700 sm:text-base">
              Total number of Doctors
            </div>
          </div>
        </div>
        <div class="p-4 pt-px">
          <a href="#" class="flex items-center text-blue-500 hover:text-blue-700">
            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <!-- Your SVG path or content goes here -->
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            Click me
          </a>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-full lg:w-1/2">
      <div class="flex flex-col border-2 border-gray-300 rounded m-2">
        <div class="flex flex-row items-center justify-between px-4 py-4">
          <div class="flex mr-4">
            <span class="items-center px-4 py-4 m-auto bg-red-200 rounded-full hover:bg-red-300">
              <i class="fa fa-bed fa-2x text-red-700" aria-hidden="true"></i>
            </span>
          </div>
          <div class="flex-1 pl-4">
            <div class="text-xl font-medium text-gray-700">{{total_patients}}</div>
            <div class="text-sm text-gray-700 sm:text-base">
              Total number of Patients
            </div>
          </div>
        </div>
        <div class="p-4 pt-px">
          <a href="#" class="flex items-center text-blue-500 hover:text-blue-700">
            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <!-- Your SVG path or content goes here -->
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            Click me
          </a>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-full lg:w-1/2">
      <div class="flex flex-col border-2 border-gray-300 rounded m-2">
        <div class="flex flex-row items-center justify-between px-4 py-4">
          <div class="flex mr-4">
            <span class="items-center px-4 py-4 m-auto bg-green-200 rounded-full hover:bg-green-300">
              <i class="fa fa-tasks fa-2x text-green-700" aria-hidden="true"></i>
            </span>
          </div>
          <div class="flex-1 pl-4">
            <div class="text-xl font-medium text-gray-700">563</div>
            <div class="text-sm text-gray-700 sm:text-base">
              Total Tasks
            </div>
          </div>
        </div>
        <div class="p-4 pt-px">
          <a href="#" class="flex items-center text-blue-500 hover:text-blue-700">
            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <!-- Your SVG path or content goes here -->
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            Click me
          </a>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-full lg:w-1/2">
      <div class="flex flex-col border-2 border-gray-300 rounded m-2">
        <div class="flex flex-row items-center justify-between px-4 py-4">
          <div class="flex mr-4">
            <span class="items-center px-4 py-4 m-auto bg-yellow-200 rounded-full hover:bg-yellow-300">
              <i class="fa fa-credit-card fa-2x text-yellow-700" aria-hidden="true"></i>
            </span>
          </div>
          <div class="flex-1 pl-4">
            <div class="text-xl font-medium text-gray-700">563</div>
            <div class="text-sm text-gray-700 sm:text-base">
              Payment Details
            </div>
          </div>
        </div>
        <div class="p-4 pt-px">
          <a href="#" class="flex items-center text-blue-500 hover:text-blue-700">
            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <!-- Your SVG path or content goes here -->
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            Click me
          </a>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}