{% extends 'base.html' %}
{% block title %}
Patient-Edit-Page
{% endblock %}

{% block body %}
<div class="flex flex-col lg:flex-row justify-center">
    <!-- Form Section -->
    <div class="lg:w-2/3 ">
        <form action="" method="post" class="bg-white shadow-md rounded px-8 pb-8 m-2">
            <h3 class="self-center text-xl mb-6 font-semibold whitespace-nowrap dark:text-white text-blue-700">
                Edit Patient form - {{humanize}}</h3>
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
                    Frist name
                </label>
                <input name="firstname"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="firstname" type="text" placeholder="Jhon" value="{{patient.first_name}}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="lastname">
                    Last name
                </label>
                <input name="lastname"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="lastname" type="text" placeholder="Doe" value="{{patient.last_name}}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="mobile">
                    Mobile
                </label>
                <input name="mobile"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="mobile" type="text" placeholder="(+1) 765 8798 345" value="{{patient.mobile}}">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="doctor">
                    Select Doctor
                </label>
                <div class="relative">
                    <select name="doctor"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="doctor">
                            <option value="" disabled selected>Select a Doctor...</option>
                            {% for doctor in doctors %}
                            <option value="{{ doctor.id }}" {% if patient.doctor_id.name == doctor.name %}selected{% endif %}>{{ doctor.name }}</option>
                            {% endfor %}
                    </select>
                    <i class="fa fa-chevron-circle-down absolute top-0 right-0 mt-2 mr-3 text-gray-600" aria-hidden="true"></i>
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="report_type">
                    Select Report {{patient.report_type.name}}
                </label>
                <div class="relative">
                    <select name="report_type"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="report_type">
                            <option value="" disabled selected>Select a Report...</option>
                            {% for report in reports %}
                            <option value="{{report.id}}" {% if patient.report_type.name == report.name %}selected{% endif %}>{{ report.name }}</option>
                            {% endfor %}
                        
                    </select>
                    <i class="fa fa-chevron-circle-down absolute top-0 right-0 mt-2 mr-3 text-gray-600" aria-hidden="true"></i>
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="address">
                    Address
                </label>
                <textarea name="address"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="address" placeholder="Type your address here...">{{patient.address}}</textarea>
            </div>

            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Save Changes
                </button>
                <!-- <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
            Forgot Password?
          </a> -->
            </div>
        </form>
    </div>
</div>
{% endblock %}