{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="flex flex-col lg:flex-row">
    <!-- Form Section -->
    <div class="lg:w-1/3 ">
        <form action="" method="post" class="bg-white shadow-md rounded px-8 pb-8 m-2">
            <h3 class="self-center text-xl mb-6 font-semibold whitespace-nowrap dark:text-white text-blue-700">
                Add Patient form</h3>
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
                    Frist name
                </label>
                <input name="firstname"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="firstname" type="text" placeholder="Jhon">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="lastname">
                    Last name
                </label>
                <input name="lastname"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="lastname" type="text" placeholder="Doe">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="mobile">
                    Mobile
                </label>
                <input name="mobile"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="mobile" type="text" placeholder="(+1) 765 8798 345">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="mobile">
                    Doctor Reference
                </label>
                <select name="firmname"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="firmname">
                    <option value="" disabled selected>Select a Doctor...</option>

                    <option value="dr_serena_silverstone">Dr. Serena Silverstone</option>
                    <option value="dr_winston_evergreen">Dr. Winston Evergreen</option>
                    <option value="dr_olivia_starling">Dr. Olivia Starling</option>
                    <option value="dr_maxwell_thunderstrike">Dr. Maxwell Thunderstrike</option>
                    <option value="dr_isabella_moonshadow">Dr. Isabella Moonshadow</option>

                    <!-- Add more options as needed -->
                </select>
                <!-- <i class="fa fa-chevron-circle-down absolute top-0 right-5 mt-2 mr-3 text-gray-600" aria-hidden="true"></i> -->
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="mobile">
                    Report Type
                </label>
                <select name="firmname"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="firmname">
                    <option value="" disabled selected>Select a Report...</option>

                    <option value="lab_report_cbc">Complete Blood Count (CBC)</option>
                    <option value="lab_report_cholesterol">Cholesterol Levels Analysis</option>
                    <option value="lab_report_liver_function">Liver Function Test</option>
                    <option value="lab_report_urinalysis">Urinalysis Report</option>
                    <option value="lab_report_glucose">Glucose Tolerance Test</option>

                    <!-- Add more options as needed -->
                </select>
                <!-- <i class="fa fa-chevron-circle-down absolute top-0 right-0 mt-2 mr-3 text-gray-600" aria-hidden="true"></i> -->
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="mobile">
                    Paid Payment
                </label>
                <input name="number"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="mobile" type="text" placeholder="Rs. 500">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="address">
                    Address
                </label>
                <textarea name="address"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="address" placeholder="Type your address here..."></textarea>
            </div>

            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    Register
                </button>
                <!-- <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
            Forgot Password?
          </a> -->
            </div>
        </form>
    </div>

    <!-- Parties Details Section -->
    <div class="lg:w-2/3">
        <!-- component -->
        <section class=" text-gray-600 m-2 ">
            <div class="flex flex-col justify-center ">
                <!-- Table -->
                <div class="w-full bg-white border border-gray-200 shadow-md rounded">
                    <header class="px-5 py-2 border-b border-gray-100">
                        <h2
                            class="self-center text-center text-xl font-semibold whitespace-nowrap dark:text-white text-blue-700">
                            Patients List</h2>
                    </header>
                    <div class="p-3">
                        <div class="overflow-x-auto">
                            <table class="table-auto w-full">
                                <thead class="text-xs font-semibold uppercase text-gray-700 bg-gray-50">
                                    <tr>
                                        <th class="p-2 whitespace-nowrap">
                                            <div class="font-semibold text-left">Name</div>
                                        </th>
                                        <th class="p-2 whitespace-nowrap">
                                            <div class="font-semibold text-left">Doctor & Report Type</div>
                                        </th>
                                        <th class="p-2 whitespace-nowrap">
                                            <div class="font-semibold text-left">Payment</div>
                                        </th>
                                        <th class="p-2 whitespace-nowrap">
                                            <div class="font-semibold text-left">Action</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-sm divide-y divide-gray-100">
                                    <tr>
                                        <td class="p-2 whitespace-nowrap ">
                                            <div class="flex items-center">
                                                <div class="w-10 h-10 flex-shrink-0"><img class="rounded-full"
                                                        src="https://raw.githubusercontent.com/cruip/vuejs-admin-dashboard-template/main/src/images/user-36-05.jpg"
                                                        alt="Alex Shatov"></div>
                                                <div class="flex items-center gap-3 ml-2">
                                                    <div class="flex flex-col">
                                                        <p
                                                            class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">
                                                            john doe</p>
                                                        <p
                                                            class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">
                                                            (+1) 987 4565 345</p>
                                                    </div>
                                                </div>

                                        </td>
                                        <td class="p-2 whitespace-nowrap">
                                            <div class="flex items-center gap-3">
                                                <div class="flex flex-col">
                                                    <p
                                                        class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal">
                                                        Dr. Winston Evergreen
                                                        </p>
                                                    <p
                                                        class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-normal opacity-70">Complete Blood Count (CBC)
                                                        </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-2 whitespace-nowrap">
                                            <div class="text-left font-medium text-green-500">$2,890.66</div>
                                        </td>
                                        <td class="p-2 whitespace-nowrap ">
                                            <div class="flex">
                                                <a href="" class="text-blue-500"><i
                                                        class="fa fa-pencil-square-o fa-2x mr-2"
                                                        aria-hidden="true"></i></a>
                                                |
                                                <a href="" class="text-red-500"><i class="fa fa-trash fa-2x ml-2"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}