{% extends 'base.html' %}
{% block title %}
Tasks
{% endblock %}

{% block body %}
<div class="lg:flex flex-wrap">
    {% for task in tasks %}
    <div class="w-full sm:w-full lg:w-1/2 my-2">
        <!-- component -->
        <!-- Created By Eza Alfandy -->
        <div class="bg-gray-100 flex justify-center items-center">
            <div
                class="flex flex-col bg-gradient-to-r from-blue-500 via-purple-500 to-purple-600 p-4 rounded-xl text-white w-8/12 mx-auto my-auto">

                <div>
                    <p class="text-xl font-bold mt-1 mb-2">{{task.title}}</p>
                </div>
                <div>
                    <span class="text-xs">{{task.content}}</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}